.header{
    background-color: rgb(39, 38, 38);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 100px;
  
}


nav a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

nav a:hover{
    color: orange;
}

.text-yellow{
    color: rgb(245, 245, 8);
    margin-left: 10px;
}