.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
    margin: 50px;
}

.Products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}



@media screen and (max-width:480px) {
    .Products-container{
        grid-template-columns: 1fr;
    }
}


@media screen and (min-width:481px) and (max-width: 768px) {
    .Products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}